<!-- <ion-content > -->
<!-- <ion-grid fixed="true">
    <ion-row>
        <ion-col size-xl="3" size-xs="12" class="tong">
            <ion-row>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="{{url}}">
                    </ion-avatar>
                    <h3>Chat</h3>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-input type="search" clear-input="true" placeholder="Search in box chat" class="searchbox">
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <app-chat-list></app-chat-list>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size-xl="9" size-xs="12" class="colRight">
            <app-chat-detail></app-chat-detail>
        </ion-col>
    </ion-row>
</ion-grid> -->
<!-- </ion-content>  -->
<div class="divoutside">
    <div class="cottrai">
        <div class="title">
            <img src="../../../../assets/images/icon.png" alt="">
            <h3 style="font-weight: bold;">Chat</h3>
        </div>
        <form class="search">
            <div class="insearch">
                <input type="search" placeholder="Enter username to search" [(ngModel)]="usernamesearch" name="search" (keydown.enter)="onSearch()" (keyup)="checkSearch($event)">
                <!-- <button (click)="onSearch()" (keydown.enter)="onSearch()" >search</button> -->
                <img [ngClass]="{'hienlen': usernamesearch!=''}"  class="imgclearinput" src="../../../../assets/images/clearinput.png" alt="" (click)="usernamesearch='';check=true;">
                <img  class="imgsearch" src="../../../../assets/images/iconsearch.png" alt="" (click)="onSearch()">
            </div>
        </form>
        <div class="danhsachuser" *ngIf="!check">
            <div class="moiuser" [ngClass]="{'duocclickchon': indexuser==i}" *ngFor="let item of usersearched; index as i" (click)="indexuser=i;searchUserClick(item);">
                <img src="{{item.photoURL!=null ? item.photoURL : url}}" alt="">
                <div >
                    <p class="tenuser" *ngIf="item.displayName">{{item.displayName}}</p>
                    <!-- <p class="messageofuser">message</p> -->
                </div>   
            </div>
        </div> 
        <div class="danhsachuser" *ngIf="check">
            <div class="moiuser" [ngClass]="{'duocclickchon': indexuser==i}" *ngFor="let item of $chatLogs|async ; index as i" (click)="indexuser=i; getChatCouple(item);">
                <img src="{{item.photoURL!=null ? item.photoURL : url}}" alt="">
                <div >
                    <p class="tenuser">{{item.displayName}}</p>
                    <p class="messageofuser">{{item.lastMessage}}</p>
                </div>   
            </div>
        </div> 
    </div>
    <div class="cotphai">
        <app-chat-detail></app-chat-detail>
    </div>
</div>