<!-- <ion-content > -->
<!-- <ion-grid fixed="true">
    <ion-row>
        <ion-col size-xl="3" size-xs="12" class="tong">
            <ion-row>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="{{url}}">
                    </ion-avatar>
                    <h3>Chat</h3>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-input type="search" clear-input="true" placeholder="Search in box chat" class="searchbox">
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <app-chat-list></app-chat-list>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size-xl="9" size-xs="12" class="colRight">
            <app-chat-detail></app-chat-detail>
        </ion-col>
    </ion-row>
</ion-grid> -->
<!-- </ion-content>  -->
<div class="divoutside">
    <div class="cottrai">
        <div class="title">
            <img src="../../../../assets/images/icon.png" alt="">
            <h3 style="font-weight: bold;">Chat</h3>
        </div>
        <form class="search">
            <input type="search" placeholder="Enter username to search" [(ngModel)]="usernamesearch" name="search" (keydown.enter)="onSearch()">
            <!-- <button (click)="onSearch()" (keydown.enter)="onSearch()" >search</button> -->
        </form>
        <div class="danhsachuser">
            <div class="moiuser" [ngClass]="{'duocclickchon': indexuser==i}" *ngFor="let item of user1; index as i" (click)="searchUserClick(item)">
                <img src="{{item.photoURL!=null ? item.photoURL : url}}" alt="">
                <div >
                    <p class="tenuser">{{item.displayName}}</p>
                    <p class="messageofuser">message</p>
                </div>   
            </div>
        </div>
    </div>
    <div class="cotphai">
        <app-chat-detail></app-chat-detail>
    </div>
</div>