<div class="title">
    <h3 class="left">My boxchat app</h3>
</div>
<form class="login-form">
    <h3 style="margin-bottom: 50px;">Login</h3>
    <div class="email">
        <ion-input type="email" placeholder="Enter your email" autofocus="true" clear-input="true"></ion-input>
    </div>
    <div class="password">
        <ion-input type="password" placeholder="Enter your password" clear-input="true" minlength="6"></ion-input>
    </div>
    <div class="username" *ngIf="repass">
        <ion-input type="text" placeholder="Enter your username" clear-input="true" minlength="6"></ion-input>
    </div>
    <div class="reenterpassword" *ngIf="repass">
        <ion-input type="password" placeholder="Enter your password again"></ion-input>
    </div>

    <div id="divbtnlogin" *ngIf="appear">
        <div class="btnlogin">
            <ion-button (click)="loginClick()" style="right: 0px;">
                    Log in
            </ion-button>
        </div>
        
        <div class="textsignin">
            <span>If you have not an account</span>
            <span style="margin-left: 5px; color: blue;" (click)="signupClick()">click here to sign up</span>
        </div>
    </div>
    <div id="divbtnsignup" *ngIf="repass">
        <div class="textaftersignin">
            <span>Please enter your information, after click sign up to sign up</span>
        </div>
        <div class="btnsignin">
            <ion-button (click)="backClick()">
                Back
            </ion-button>
            <ion-button (click)="signupClick()">
                Sign up
            </ion-button>
        </div>
    </div>
    
    
</form>

<ion-grid>
    <ion-row>
        <ion-col size-xs="12" size-lg="6">
        </ion-col>
        <ion-col size-xs="12" size-lg="6"></ion-col>
    </ion-row>
</ion-grid>