<div class="ngoai">
    <img class="imgngoai" src="../../../assets/images/backgroundLogin2.jpg" alt="">
    <div class="den"></div>
    <div class="tong">
        <div class="title">
            <img src="../../../assets/images/icon.png" alt="">
            <h3 class="left">Boxchat app</h3>
        </div>

        <form class="login-form" #formSignin="ngForm">
            <h3 class="subtitle" [hidden]="repass">Log in</h3>
            <h3 class="subtitle" [hidden]="!repass">Sign up</h3>
            <p class="notify" *ngIf="!(check)">*Something is wrong, please check your email or password</p>
            <div class="email" >
                <input  type="email" placeholder="Enter your email"
                clear-input="true" name="email"
                required email #txtEmail="ngModel" ngModel
                [ngClass]="{'bordertouch': txtEmail?.touched}"/>
                <p class="notify" *ngIf="txtEmail?.touched && txtEmail.errors?.required">*Email is required</p>
                <p class="notify" *ngIf="txtEmail?.touched && txtEmail.errors?.email">*Email is unvalid</p>
            </div>
            
            <div class="password" >
                <input type="password" placeholder="Enter your password" clear-input="true" minlength="6"
                name="password" required #txtPassword="ngModel" ngModel
                [ngClass]="{'bordertouch': txtPassword?.touched}"/>
                <p class="notify" *ngIf="txtPassword?.touched && txtPassword?.errors?.required">*Password is required</p>
                <p class="notify" *ngIf="txtPassword?.touched && txtPassword?.errors?.minlength">*Password is at least 6 characters</p>
            </div>
            
            <div class="reenterpassword" [hidden]="!repass" >
                <input type="password" placeholder="Enter your password again" clear-input="true"
                minlength="6" name="repassword" required #txtRepassword="ngModel" ngModel
                [ngClass]="{'bordertouch': txtRepassword?.touched}"/>
                <p class="notify" [hidden]="!repass" *ngIf="txtRepassword?.touched && txtRepassword?.errors?.required">*Reenter password is required</p>
                <p class="notify" [hidden]="!repass" *ngIf="txtRepassword?.touched && txtRepassword?.errors?.notEqual">*Pass word does not match</p>
            </div>
            
            <div class="username" [hidden]="!repass" >
                <input type="text" placeholder="Enter your username" clear-input="true"
                name="displayname" required #txtUsername="ngModel" ngModel
                [ngClass]="{'bordertouch': txtUsername?.touched}"/>
                <p class="notify" [hidden]="!repass" *ngIf="txtUsername?.touched && txtUsername.errors?.required">*Username is required</p>
            </div>

            <div class="divbtnlogin" *ngIf="appear"> 
                <div class="btnlogin">
                    <button (click)="loginClick(formSignin)" (keydown.enter)="loginClick(formSignin)" [disabled]="txtEmail?.errors?.invalid || txtPassword?.errors?.invalid"
                    [ngClass]="{'disable': txtEmail?.errors?.invalid || txtPassword?.errors?.invalid}" >
                            Log in 
                    </button>
                </div>
                <div class="textlogin">
                    <p>
                        <span>If you have not an account</span>
                        <span class="textclick" (click)="signupClick()">click to sign up</span>
                    </p>
                </div>
            </div>
            <div class="divloginwithgoogle" *ngIf="appear">
                <p (click)="loginwithGoogle()">Login with Google</p>
            </div>
            <div class="divbtnsignup" *ngIf="repass">
                <div class="textsignup">
                    <span>Already have account ?</span> <span class="textclick" (click)="backClick()">Sign in</span>
                </div>
                <div class="btnsignup">
                    <button  (click)="signup(formSignin)" (keydown.enter)="signup(formSignin)" [disabled]="formSignin.invalid" [ngClass]="{'disable': formSignin.invalid}">
                        Sign up
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>